<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="lnf">
      <section name="provider" type="LNF.ServiceProviderSection, LNF" />
    </sectionGroup>
  </configSections>

  <lnf>
    <provider production="false">
      <context loginUrl="/login" />
      <dataAccess showSql="true" />
      <email host="xxxxx" log="true"/>
      <control host="xxxxx" />
      <log name="OnTheFly" enabled="true" />
    </provider>
  </lnf>

  <connectionStrings>
    <add name="cnSselData" connectionString="xxxxx"/>
    <add name="cnSselControl" connectionString="xxxxx"/>
    <add name="cnSselScheduler" connectionString="xxxxx"/>
  </connectionStrings>

  <appSettings>
    <add key="ApiBaseUrl" value="xxxxx"/>
    <add key="BasicAuthUsername" value="xxxxx"/>
    <add key="BasicAuthPassword" value="xxxxx"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="otf:Files" value="xxxxx"/>
    <add key="otf:ReturnFullLog" value="true"/>
    <add key="otf:ButtonPressWaitTime" value="30"/>
    <add key="WagoEnabled" value="true"/>
    <add key="IPWhitelist" value="xxxxx"/>
    <add key="MongoConnectionString" value="xxxxx"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="owin:AppStartup" value="OnTheFly.Startup, OnTheFly"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.7"/>

    <httpRuntime targetFramework="4.7"/>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>

    <authentication mode="Forms">
      <forms name="xxxxx" path="/" loginUrl="/login" timeout="480" protection="All" slidingExpiration="true" domain="xxxxx" cookieless="UseCookies"/>
    </authentication>

    <authorization>
      <deny users="?"/>
    </authorization>

    <machineKey validationKey="xxxxx" decryptionKey="xxxxx" validation="SHA1" decryption="3DES" compatibilityMode="Framework20SP2"/>

    <customErrors mode="Off"/>
  </system.web>

  <location path="api">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>