<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: 'Courier New';
        }

        .interlocks {
            margin-top: 10px;
            margin-left: 10px;
            border-collapse: separate;
            border-spacing: 2px;
        }

            .interlocks th {
                text-align: left;
                border-bottom: solid 2px #aaa;
                padding: 5px;
            }

            .interlocks td {
                border-bottom: solid 1px #ccc;
                padding: 5px;
            }

        .state-on {
            display: inline-block;
            padding: 3px;
            font-weight: bold;
            background-color: #008000;
            color: #fff;
            border-radius: 3px;
            min-width: 40px;
            text-align: center;
        }

        .state-off {
            display: inline-block;
            padding: 3px;
            font-weight: normal;
            background-color: #fff;
            color: #ff0000;
            border-radius: 3px;
            min-width: 40px;
            text-align: center;
        }

        .error {
            color: #fff;
            padding: 3px;
            display: inline-block;
            background-color: #ff0000;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>